* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: hsl(244, 38%, 16%);
    width: 88%;
}

.card-img {
    height: 15rem;
    background-image: url(/images/image-header-mobile.jpg);
    background-color: hsl(277, 64%, 61%);
    background-blend-mode: overlay;
    background-size: cover;
}

.attribution { 
    font-size: 11px; 
    margin-top: 2rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}