* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: hsl(244, 38%, 16%);
    width: 88%;
    border-radius: 0.5rem;
}

.card-img {
    height: 15rem;
    background-image: url(/images/image-header-mobile.jpg);
    background-color: hsl(277, 64%, 61%);
    background-blend-mode: overlay;
    background-size: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.header {
    margin-top: 2.2rem;
    margin-bottom: 1.2rem;
}

.accent {
    color:hsl(277, 64%, 61%);
}

.main-paragraph {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 2.5rem;
}

.card-info {
    width: 85%;
    margin: 0 auto;
}

.card-stats h2 {
    margin-bottom: 0.2rem;
}

.card-stats p {
    color: hsl(0, 0%, 100%, 0.6);
    margin-bottom: 1.75rem;
}

.attribution { 
    font-size: 11px; 
    position: absolute;
    bottom: 1rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}